
.message-container{
    width: 100%;
    display: flex;
    flex-direction: column;
.message-stack{
    
    margin: auto;
    background: #1F2032;
    height: 6rem;
    width: 30rem;
    border-radius: 25px;

    p{
        color: white;
    }
    
}
}