.chat-input-container{

    background: #282C47;
    height: 8%;
    width: 94%;
    margin: auto;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .chat-input-icons{ 
        margin-left: 1rem;
        display: flex;
        justify-content: center;
        line-height: 20px;
       
        svg{
            margin-left: 5px;
            margin-right: 5px;
            width: 1.5rem;
            height: 1.5rem;
        }

    }

    form{
        width: 100%;

        input{
            background: #282C47 ;
            border: #282C47;
            font-size: 1.6rem;
            padding-left: 1rem;
            margin-left: 1rem;
            border-left: 0.1px solid #6A6C84;
            color: #6A6C84;
        }

        input::placeholder{
            color: #6A6C84;
            font-size: 2rem;
          }

    }

    button{
        margin-right: 1rem;
        text-align: center;
        height: 3.5rem;
        width: 4rem;
        background: #D74344;
        border: #D74344;
        border-radius: 0;
        border-radius: 50%;
        color: white;
        cursor: pointer;

        svg{
            height: 2rem;
            width: 2rem;
            position: relative;
            left: 29%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
          
        }
        
    }
}

// REMOVE HIGHLIGHTING
input:focus{
    outline: none;
}
button:focus{
        outline: none;
}
