
.home-backdrop{
    background: #171926;
    width: 100%;
    border-radius: 0 55px 55px 0;
    padding-right: 15px;

    .home-container{
        background: #1F2032;
        background-image: linear-gradient(to right, #181926 , #1F2032);
        width: 100%;
        height: 97%;
        margin: 15px 0 0 0;
        border-radius: 0 45px 45px 0;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;

        p{
            color: white;
            font-size: 1.5rem;
        }
        h2{
            font-family: 'Arimo', sans-serif;
            color: white;
            font-size: 2rem;
            font-weight: bolder;
        }


        .ciao-home-info-container{
            margin: 2rem 3rem 3rem 3rem;
            

     
      

            .ciao-home-underline{
                border-bottom: 4px solid white;
                margin: 3rem 0 3rem 0;
            }
        
            

            .ciao-home-username{

                h1{
                    font-family: 'Anton', sans-serif;
                    text-align: left;
                    font-size: 3rem;
                    margin: 0;
                    color: white;
                }
            }

            .ciao-home-friend-count{
                // border: 2px solid hotpink;
                // p{
                //     margin: 1rem 0 1rem 0;
                // }
    
            }

            .ciao-home-member-date{
                // border: 2px solid fuchsia;
                // p{
                //     margin: 1rem 0 1rem 0;                
                // }

            }

        }

        .ciao-home-bio{
       
            // border: 2px solid lime;
    
        }

        .ciao-home-status{
          
            // border: 2px solid turquoise;
  
        }

        .ciao-home-svg-contact{
            margin-top: 3rem;
            
            .ciao-home-github{
                display: flex;
                align-items: center;

            }
            
            .ciao-home-linkedin{
                display: flex;
                align-items: center;

            }

            .ciao-home-twitter{
                display: flex;
                align-items: center;

            }

            .ciao-home-email{
                display: flex;
                align-items: center;

            }

            svg{
                height: 4.5rem;
                width: 4.5rem;
                
            }

        }




    }

}

// Hide vertical scrollbar
.home-container::-webkit-scrollbar {
    display: none;
  }

