.tab-container{
    // z-index: 900;
    // position: fixed;
    // position: absolute;
    width: 17rem;
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    background: #E1463E;
    height: 100%;
    border-radius: 45px 0 0 45px;
    
    svg{
        margin-right: 1rem;
    }

    a{
        
        text-decoration: none;
        color: #EFC2C6;
        font-size: 1.6rem;
    }


    .tab-row{
        display: flex;
        width: 18.1rem;
        height: 5.5rem;
        padding-left: 2.4rem;
        align-items: center;
        font-weight: 600;
    }

}

.active{
    background:#171926;
    color: #EFC2C6;
}
.active::before {
    content: "";
    position: absolute;
    color: #EFC2C6;
    background-color: #E1463E; //#E1463E
    height: 15px;
    width: 272px;
    border-radius: 0 0 1rem 0;
    box-shadow: 0 0 0 -10px #171926; //#171926
  }
.active::after {
    content: "";
    position: absolute;
    color: #EFC2C6;
    height: 15px;
    width: 272px;
    border-radius: 0 1rem 0 0;
    box-shadow: 0 -14px 0 0 #E1463E; //#171926
}
.profile-picture{
    text-align: center;

    img{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    margin-top: 1rem;
    // justify-content: center;
}
}

.profile-name h2{
    color: white;
    text-align: center;
}

.profile-button{
    padding: 0;
    margin-right: 1rem;
    height: 2rem;
    // border: 2px solid yellow;
    display: flex;
    justify-content: flex-end;
    a{
        color: white;
        padding: 0;
        margin: 0;
        font-size: 2rem;
        height: 1rem;
    }
}