.tab-container{
    // z-index: 900;
    position: fixed;
    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #E1463E;
    justify-content: flex-start;
    height: 100%;
    border-radius: 0 25px 0 25px;

    a{
        text-decoration: none;
        color: #EFC2C6;
        margin-bottom: 1.8rem;
    }


    a:last-of-type {
        margin-bottom: 0rem;
      }

    .tab-row{
        display: flex;
        width: 18.1rem;
        height: 4.5rem;
        padding-left: 2.4rem;
        align-items: center;
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        // line-height: 2.2rem;
        text-align: center;
    }

}

.active{
    background:#171926;
    color: #EFC2C6;
    // border-radius: 0 0 0 20px;
}
// .active::before {
//     content: "";
//     position: absolute;
    
//     background-color: black;
//     // bottom: 400px;
//     height: 50px;
//     width: 25px;
//     // border-bottom-right-radius: 25px;
//     border-radius: 20px 20px 20px 20px;
//     box-shadow: 0 -25px 0 0 #171926;
//   }

.profile-picture img{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    margin-top: 3rem;
}

.profile-name h2{
    color: white;
}

