.landing-home-container{
    margin: 0 auto;
    text-align: center;
    width: 50%;
    border-bottom: 4px solid #E1463E;
    h1{
        color: white;
        font-size: 3rem;
    }
    p{
        color: white;
        font-size: 2rem;
    }
}