.ciao-container{
    display: flex;
    height: 49rem;
    // width: 90rem;
    padding: 4rem;
    padding-right: 4rem;
    padding-left: 4rem;

}

.ciao-logo{

    height: 2rem;
    width: 1rem;
    // margin-left:140px;
    // margin-left: 3.5rem;
    margin-left: 8.8rem;
    // margin-left: 55rem;

        svg{
            height: 7rem;
            width: 7rem;
        }

}

// .ciao-logo-upside{
//     transform: rotate(180deg);
//     height: 2rem;
//     width: 0;
//     margin-left:1500px;
//     // margin-left: 3.5rem;
//     // margin-left: 111rem;
//     // margin-left: 55rem;

//         svg{
//             height: 7rem;
//             width: 7rem;
//         }

// }