.ciao-container{
    display: flex;
    height: 52.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 4rem;
}

.ciao-logo{
    position: float;
    height: 2rem;
    width: 1rem;
    margin-left: 19rem;

        svg{
            height: 7rem;
            width: 7rem;
        }

}

.ciao-logo-upside{
    position: float;
    height: 2rem;
    width: 1rem;
    margin-left: 114rem;
    transform: rotate(180deg);

        svg{
            height: 7rem;
            width: 7rem;
        }

}