.ciao-container{
    display: flex;
    height: 51rem;
    // width: 90rem;
    padding: 4rem;
    padding-right: 4rem;
    padding-left: 4rem;

}

.ciao-logo{
    height: 2rem;
    width: 1rem;
    margin-left:140px;
    svg{
        height: 7rem;
        width: 7rem;
    }
}