.update-user-modal{
    padding: 2rem;
    position: absolute;
    overflow-x: hidden;
    background: #181926;
    border: .8rem solid #E1463E;
    height: 37rem;
    width: 76rem;
    border-radius: 2rem;
}