.login-container{
    width: 2rem;
    position: absolute;
    margin-left: 60rem;
    margin-top: 22rem;
}

.register-container{
    width: 2rem;
    position: absolute;
    margin-left: 60rem;
    margin-top: 22rem;
}